---
layout: base
title: Home
permalink: '/'
numberOfLatestPostsToShow: 3
---
<div class="container-fluid wfh-banner">
    <img class="img-fluid" src="img/banner-768.jpg" srcset="img/banner-768.jpg 768w, img/banner-992.jpg 992w, img/banner-1280.jpg 1280w, img/banner-1600.jpg 1600w, img/banner-1920.jpg 1920w" alt="luminarias" style="margin:0">
</div>
<div class="container">
  <h2 style="background: url(/img/bracket_line.gif) 0 50% repeat-x; text-align: center"><span style="background: white; z-index: 5">Walk for Hope</span></h2>
  <div class="row">
    <div class="col-md-4 text-center wfh-fpbox1">     
      {%markdown%}{% include "partials/FrontPage1of3.md" %}{%endmarkdown%}
    </div>
    <div class="col-md-4 text-center wfh-fpbox2">
      {%markdown%}{% include "partials/FrontPage2of3.md" %}{%endmarkdown%}
    </div>
    <div class="col-md-4 text-center wfh-fpbox3">
      {%markdown%}{% include "partials/FrontPage3of3.md" %}{%endmarkdown%}
    </div>
  </div>
  <h2 style="background: url(/img/bracket_line.gif) 0 50% repeat-x; text-align: center"><span style="background: white; z-index: 5">Event Announcements</span></h2>
  <div class="container">
    <div class="row">
      {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
      {% set postslistCounter = postsCount %}
      {% include "postslist.njk" %}
      <p><a href="/Blog/">Show all</a></p>
    </div>
  </div>
  <h2 style="background: url(/img/bracket_line.gif) 0 50% repeat-x; text-align: center"><span style="background: white; z-index: 5">Event Fundraising</span></h2>
  <div class="container">
    <div class="row">
      {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
      {% set postslistCounter = postsCount %}
      {% include "postslist.njk" %}
    </div>
  </div>
</div> 